/* marketkurly_index.css */
/* #5f0080 */
#wrap {}
#wrap header {}
#wrap header .top_bnr_bg {
    background-color: #5f0080;
}
#wrap header .top_bnr_bg .top_bnr {
    text-align: center;
    width: 1050px;
    border: 2px solid yellow;
    margin: 0 auto;
    position:relative;
}
#wrap header .top_bnr_bg .top_bnr .ad_text {
    color: #fff;
}
#wrap header .top_bnr_bg .top_bnr .ad_text em {
    color: #fff;
}
#wrap header .top_bnr_bg .top_bnr #ad_close_btn {
    position : absolute; right: 0; top: 0;
    width: 24px;
}
#wrap header .top_bnr_bg .top_bnr #ad_close_btn img {width:100%;}
/* header 2행 로고~메뉴 */
#wrap header .logo_user_menu {
    background-color: skyblue;
    margin: 0 auto;
    width: 1050px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
#wrap header .logo_user_menu h1 {}
#wrap header .logo_user_menu h1 a {}
#wrap header .logo_user_menu h1 a img {}
#wrap header .logo_user_menu .snb {
    background-color: yellow;
    display: flex;
    gap: 16px;
}
#wrap header .logo_user_menu .snb > li {position:relative;}
#wrap header .logo_user_menu .snb > li::after {
    content: ''; display: block;
    background-color: #888; width: 2px; height: 10px;
    position: absolute; right: -10px; top: 3px;
}
#wrap header .logo_user_menu .snb > li:nth-child(3)::after {
    display: none;
}
#wrap header .logo_user_menu .snb > li > a {}
#wrap header .logo_user_menu .snb li .lnb {
    background-color: pink;
    position : absolute; left: 0;
    width: max-content;
}
#wrap header .logo_user_menu .snb li .lnd li {}
#wrap header .logo_user_menu .snb li .lnd li a {}